/* .themify_builder_26_row.module_row_0 Style */
.themify_builder_26_row.module_row_0.module_row {
	padding-top : 78px
}

@media screen and (max-width: 1024px) {/* .themify_builder_26_row.module_row_0 Style */
.themify_builder_26_row.module_row_0.module_row {
	padding-top : 0%
}

}@media screen and (max-width: 768px) {/* .themify_builder_26_row.module_row_0 Style */
.themify_builder_26_row.module_row_0.module_row {
	padding-top : 0%;
	padding-bottom : 0px
}

}@media screen and (max-width: 680px) {/* .themify_builder_26_row.module_row_0 Style */
.themify_builder_26_row.module_row_0.module_row {
	padding-top : 4%;
	padding-bottom : 0px
}

}@media screen and (max-width: 680px) {/* .module_row_0 .module_column_0.tb_26_column Style */
.module_row_0 .module_column_0.tb_26_column.module_column {
	padding-top : 14px
}

}.themify_builder .text-26-0-0-1.module-text { margin-bottom: 40px;  } 
.themify_builder .text-26-0-0-1.module-text h1 { font-size: 45px;  } 
@media screen and (max-width: 1024px) {.themify_builder .text-26-0-0-1.module-text h1 { font-size: 50px; line-height: 0.8em;  } 
}@media screen and (max-width: 768px) {.themify_builder .text-26-0-0-1.module-text { margin-bottom: 40px;  } 
.themify_builder .text-26-0-0-1.module-text h1 { font-size: 45px; line-height: 0.8em;  } 
}@media screen and (max-width: 680px) {.themify_builder .text-26-0-0-1.module-text h1 { font-size: 36px; line-height: 0.8em;  } 
.themify_builder .text-26-0-0-1.module-text h4 { font-size: 22px;  } 
}/* .module_row_0 .module_column_0 .sub_row_0-0-2 Style */
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow {
	background-color: #ddbc6a;
	color: #ffffff;
	padding-bottom : 50px
}
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow h1 {
	color: #ffffff
}
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow h2 {
	color: #ffffff
}
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow h3:not(.module-title) {
	color: #ffffff
}
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow h4 {
	color: #ffffff
}
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow h5 {
	color: #ffffff
}
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow h6 {
	color: #ffffff
}

@media screen and (max-width: 1024px) {/* .module_row_0 .module_column_0 .sub_row_0-0-2 Style */
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow {
	padding-bottom : 0px
}

}@media screen and (max-width: 768px) {/* .module_row_0 .module_column_0 .sub_row_0-0-2 Style */
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow {
	padding-bottom : 0px
}

}@media screen and (max-width: 680px) {/* .module_row_0 .module_column_0 .sub_row_0-0-2 Style */
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow {
	padding-bottom : 0px
}

}.themify_builder .text-26-sub_row_0-0-2-0-0.module-text { padding-top: 57px; padding-right: 16%; padding-left: 6%; margin-bottom: 0%;  } 
@media screen and (max-width: 768px) {.themify_builder .text-26-sub_row_0-0-2-0-0.module-text { margin-bottom: 1%;  } 
}@media screen and (max-width: 680px) {.themify_builder .text-26-sub_row_0-0-2-0-0.module-text { margin-bottom: 0%;  } 
}.themify_builder .text-26-sub_row_0-0-2-0-1.module-text { text-align: center; margin-top: 40px; margin-bottom: 40px;  } 
.themify_builder .text-26-sub_row_0-0-2-0-1.module-text h3 { font-size: 55px;  } 
@media screen and (max-width: 1024px) {.themify_builder .text-26-sub_row_0-0-2-0-1.module-text h3 { font-size: 50px;  } 
}@media screen and (max-width: 768px) {.themify_builder .text-26-sub_row_0-0-2-0-1.module-text { margin-top: 0px;  } 
.themify_builder .text-26-sub_row_0-0-2-0-1.module-text h3 { font-size: 45px;  } 
}@media screen and (max-width: 680px) {.themify_builder .text-26-sub_row_0-0-2-0-1.module-text { margin-top: 0px; margin-bottom: 24px;  } 
.themify_builder .text-26-sub_row_0-0-2-0-1.module-text h3 { font-size: 40px;  } 
}.themify_builder .image-26-sub_row_0-0-2-0-2.module-image { margin-left: -40px;  } 
@media screen and (max-width: 1024px) {.themify_builder .image-26-sub_row_0-0-2-0-2.module-image { margin-left: 0px;  } 
}@media screen and (max-width: 768px) {.themify_builder .image-26-sub_row_0-0-2-0-2.module-image { margin-bottom: 0px; margin-left: 0px;  } 
}@media screen and (max-width: 680px) {.themify_builder .image-26-sub_row_0-0-2-0-2.module-image { margin-left: 0px;  } 
}.themify_builder .text-26-sub_row_0-0-2-0-3.module-text { background-color: ##ffffff; background-repeat: repeat; color: ##000000; padding-top: 6%; margin-top: -40%; margin-right: -70%; margin-left: 70%;  } 
.themify_builder .text-26-sub_row_0-0-2-0-3.module-text h1 { color: ##000000;  } 
.themify_builder .text-26-sub_row_0-0-2-0-3.module-text h2 { color: ##000000;  } 
.themify_builder .text-26-sub_row_0-0-2-0-3.module-text h3:not(.module-title) { color: ##000000;  } 
.themify_builder .text-26-sub_row_0-0-2-0-3.module-text h4 { color: ##000000;  } 
.themify_builder .text-26-sub_row_0-0-2-0-3.module-text h5 { color: ##000000;  } 
.themify_builder .text-26-sub_row_0-0-2-0-3.module-text h6 { color: ##000000;  } 
@media screen and (max-width: 768px) {.themify_builder .text-26-sub_row_0-0-2-0-3.module-text { padding-top: 6%; padding-right: 6%; padding-bottom: 6%; padding-left: 6%; margin-top: 0%; margin-right: 0px; margin-left: 0%;  } 
}@media screen and (max-width: 680px) {.themify_builder .text-26-sub_row_0-0-2-0-3.module-text { padding-top: 6%; padding-right: 6%; padding-bottom: 6%; padding-left: 6%; margin-top: 0%; margin-right: 0%; margin-left: 0%;  } 
}.themify_builder .image-26-0-1-1.module-image { margin-left: -60px;  } 
@media screen and (max-width: 1024px) {.themify_builder .image-26-0-1-1.module-image { margin-left: 0px;  } 
}@media screen and (max-width: 768px) {.themify_builder .image-26-0-1-1.module-image { margin-bottom: 40px; margin-left: 0px;  } 
}@media screen and (max-width: 680px) {.themify_builder .image-26-0-1-1.module-image { margin-bottom: 30px; margin-left: 0px;  } 
}/* .themify_builder_26_row.module_row_1 Style */
.themify_builder_26_row.module_row_1.module_row {
	padding-top : 8%;
	padding-bottom : 8%
}

@media screen and (max-width: 768px) {/* .themify_builder_26_row.module_row_1 Style */
.themify_builder_26_row.module_row_1.module_row {
	padding-top : 5%;
	padding-bottom : 5%
}

}@media screen and (max-width: 680px) {/* .themify_builder_26_row.module_row_1 Style */
.themify_builder_26_row.module_row_1.module_row {
	padding-top : 11%;
	padding-bottom : 11%
}

}.themify_builder .text-26-1-0-1.module-text { text-align: center;  } 
.themify_builder .text-26-1-0-1.module.module-text h3 { color: ##bbbaba;  } 
.themify_builder .text-26-1-0-1.module-text h3 { font-size: 55px;  } 
@media screen and (max-width: 1024px) {.themify_builder .text-26-1-0-1.module.module-text h3 { color: ##bbbaba;  } 
.themify_builder .text-26-1-0-1.module-text h3 { font-size: 50px;  } 
}@media screen and (max-width: 768px) {.themify_builder .text-26-1-0-1.module.module-text h3 { color: ##bbbaba;  } 
.themify_builder .text-26-1-0-1.module-text h3 { font-size: 40px;  } 
}@media screen and (max-width: 680px) {.themify_builder .text-26-1-0-1.module-text { padding-bottom: 0px;  } 
.themify_builder .text-26-1-0-1.module.module-text h3 { color: ##bbbaba;  } 
.themify_builder .text-26-1-0-1.module-text h3 { font-size: 40px;  } 
}@media screen and (max-width: 768px) {}@media screen and (max-width: 680px) {}.themify_builder .icon-26-sub_row_1-0-2-0-1 div.module-icon .module-icon-item i { color: ##999999;  } 
.themify_builder .icon-26-sub_row_1-0-2-0-1 div.module-icon .module-icon-item:hover i { color: ##ddbc6a;  } 
@media screen and (max-width: 768px) {}@media screen and (max-width: 680px) {}.themify_builder .icon-26-sub_row_1-0-2-1-1 div.module-icon .module-icon-item i { color: ##999999;  } 
.themify_builder .icon-26-sub_row_1-0-2-1-1 div.module-icon .module-icon-item:hover i { color: ##ddbc6a;  } 
@media screen and (max-width: 768px) {}@media screen and (max-width: 680px) {}.themify_builder .icon-26-sub_row_1-0-2-2-1 div.module-icon .module-icon-item i { color: ##999999;  } 
.themify_builder .icon-26-sub_row_1-0-2-2-1 div.module-icon .module-icon-item:hover i { color: ##ddbc6a;  } 
/* .themify_builder_26_row.module_row_2 Style */
.themify_builder_26_row.module_row_2.module_row {
	background-color: #f7f5f7;
	padding-top : 5%;
	padding-bottom : 5%
}

@media screen and (max-width: 1024px) {/* .themify_builder_26_row.module_row_2 Style */
.themify_builder_26_row.module_row_2.module_row {
	padding-top : 6%;
	padding-bottom : 6%
}

}@media screen and (max-width: 768px) {/* .themify_builder_26_row.module_row_2 Style */
.themify_builder_26_row.module_row_2.module_row {
	padding-top : 9%;
	padding-bottom : 9%
}

}@media screen and (max-width: 680px) {/* .themify_builder_26_row.module_row_2 Style */
.themify_builder_26_row.module_row_2.module_row {
	padding-top : 11%;
	padding-bottom : 11%
}

}.themify_builder .text-26-2-0-1.module-text { text-align: center;  } 
.themify_builder .text-26-2-0-1.module.module-text h3 { color: ##bbbaba;  } 
.themify_builder .text-26-2-0-1.module-text h3 { font-size: 55px;  } 
@media screen and (max-width: 1024px) {.themify_builder .text-26-2-0-1.module-text { text-align: center;  } 
.themify_builder .text-26-2-0-1.module.module-text h3 { color: ##bbbaba;  } 
.themify_builder .text-26-2-0-1.module-text h3 { font-size: 50px;  } 
}@media screen and (max-width: 768px) {.themify_builder .text-26-2-0-1.module.module-text h3 { color: ##bbbaba;  } 
.themify_builder .text-26-2-0-1.module-text h3 { font-size: 40px;  } 
}@media screen and (max-width: 680px) {.themify_builder .text-26-2-0-1.module-text { text-align: center;  } 
.themify_builder .text-26-2-0-1.module.module-text h3 { color: ##bbbaba;  } 
.themify_builder .text-26-2-0-1.module-text h3 { font-size: 40px;  } 
}@media screen and (max-width: 680px) {}.themify_builder .text-26-sub_row_2-0-2-0-0.module-text { text-align: center; margin-bottom: 20px;  } 
.themify_builder .text-26-sub_row_2-0-2-0-0.module-text h3 { font-size: 2em;  } 
@media screen and (max-width: 768px) {.themify_builder .text-26-sub_row_2-0-2-0-0.module-text h3 { font-size: 28px;  } 
}@media screen and (max-width: 680px) {.themify_builder .text-26-sub_row_2-0-2-0-0.module-text h3 { font-size: 26px;  } 
}.themify_builder .buttons-26-sub_row_2-0-2-0-1 div.module-buttons { margin-top: 10px; margin-bottom: 20px;  } 
.themify_builder .buttons-26-sub_row_2-0-2-0-1 .module-buttons .module-buttons-item a { color: ##000000;  } 
@media screen and (max-width: 680px) {}.themify_builder .text-26-sub_row_2-0-2-1-0.module-text { text-align: center; margin-bottom: 20px;  } 
.themify_builder .text-26-sub_row_2-0-2-1-0.module-text h3 { font-size: 2em;  } 
@media screen and (max-width: 768px) {.themify_builder .text-26-sub_row_2-0-2-1-0.module-text h3 { font-size: 28px;  } 
}@media screen and (max-width: 680px) {.themify_builder .text-26-sub_row_2-0-2-1-0.module-text h3 { font-size: 26px;  } 
}.themify_builder .buttons-26-sub_row_2-0-2-1-1 div.module-buttons { margin-top: 10px; margin-bottom: 20px;  } 
.themify_builder .buttons-26-sub_row_2-0-2-1-1 .module-buttons .module-buttons-item a { color: ##000000;  } 
@media screen and (max-width: 680px) {}.themify_builder .text-26-sub_row_2-0-2-2-0.module-text { text-align: center; margin-bottom: 20px;  } 
.themify_builder .text-26-sub_row_2-0-2-2-0.module-text h3 { font-size: 2em;  } 
@media screen and (max-width: 768px) {.themify_builder .text-26-sub_row_2-0-2-2-0.module-text h3 { font-size: 28px;  } 
}@media screen and (max-width: 680px) {.themify_builder .text-26-sub_row_2-0-2-2-0.module-text h3 { font-size: 26px;  } 
}.themify_builder .buttons-26-sub_row_2-0-2-2-1 div.module-buttons { margin-top: 10px; margin-bottom: 20px;  } 
.themify_builder .buttons-26-sub_row_2-0-2-2-1 .module-buttons .module-buttons-item a { color: ##000000;  } 
